<strong>Collaborators</strong>
<% @collabs.each do |collab| %>
  <p><%= collab.user.email %><%= link_to '  Remove', wiki_collaborator_path(@wiki, collab), method: :delete %></p>
<% end %>

<%= form_tag wiki_collaborators_path(@wiki) do %>
  <%= select(:collaborator, :email, @collab_users ) %>
  <%= submit_tag "Save Collaborator" %>
<% end %>